/* ---- Google Fonts ---- */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
/* ---- Custom Properties ---- */
:root{
    /* Colors */
    --clr-white: #fff;
    --clr-black: #000; 
    --clr-paleblue: hsl(243, 100%, 93%);
    --clr-grayblue: hsl(229, 7%, 55%);
    --clr-darkblue: hsl(228, 56%, 26%);
    --clr-verydarkblue: hsl(229, 57%, 11%);
    --clr-gradient: linear-gradient(45deg,hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    /* Fonts and typography */
    --ff-primary: 'Raleway', sans-serif;

    --fs-big: 2.5rem;
    --fs-normal: .968rem;
    --fs-small: .813rem;

    --fw-reg: 400;
    --fw-bold: 700;
    /* Z Index */
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
    /* Box Shadow */
    --bxs-box: 12px 10px 30px -11px rgba(0,0,0,0.75);
    /* Others */
}
@media screen and (min-width: 768px){
    :root{
        --fs-big: 2.5rem;
        --fs-normal: 1.2rem;
        --fs-small: .813rem;
    }
}
/* ---- General Styles ---- */
/* Base */
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 14px;
}
body{
    color: var(--clr-white);
    font-family: var(--ff-primary);
    font-size: var(--fs-normal);
    font-weight: var(--fw-reg);
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
button{
    cursor: pointer;
    background: none;
    border: none;
}
/* Layout */
.container{
    background-image: url(/images/bg-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ---- Component Styles ---- */
.data-storage{
    max-width: 320px;
    width: 100%;
}
.data-storage > *:not(:last-child){
    margin-bottom: 1rem;
}
.actions-container,
.storage-container{
    box-shadow: var(--bxs-box);
    background-color: var(--clr-darkblue);
    padding: 2.5rem;
    border-radius: .5rem;
}
.actions-container{
    border-top-right-radius: 100px;
}
.logo-container{
    margin-bottom: 2.5rem;
}
.icons{
    display: flex;
    /* margin-bottom: .5rem; */
}
.icon-container{
    margin-right: 1rem;
    width: 50px;
    height: 50px;
    border-radius: .8rem;
    background-color: var(--clr-verydarkblue);
    display: flex;
    justify-content: center;
    align-items: center;
}
.storage-container{
    position: relative;
}
.storage-container > *:not(:last-child){
    margin-bottom: 1rem;
}
.storage__description{
    opacity: .75;
    text-align: center;
}
.storage__description span{
    font-weight: var(--fw-bold);
}
.storage__usagebar{
    background-color: var(--clr-verydarkblue);
    border-radius: 10px;
    border: 2.5px solid var(--clr-verydarkblue);
    height: 20px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
}
.storage__usageprogress{
    background-image: var(--clr-gradient);
    height: 100%;
    width: 75%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2.5px;
}
.white-ball{
    background-color: var(--clr-white);
    height: 9px;
    width: 9px;
    border-radius: 50%;
}
.storage__indicators{
    display: flex;
    justify-content: space-between;
}
.storage__indicators span{
    font-size: var(--fs-small);
}
.storage__leftspace{
    position: absolute;
    left: 22%;
    background-color: var(--clr-white);
    color: var(--clr-grayblue);
    padding: 1rem 1.5rem;
    border-radius: .8rem;
    font-weight: var(--fw-bold);
    text-transform: uppercase;
}
.storage__leftspace p{
    vertical-align: middle;
    font-size: var(--fs-big);
    color: var(--clr-black);
}
.storage__leftspace span{
    color: var(--clr-grayblue);
    font-size: var(--fs-normal);
    vertical-align: middle;
    display: inline-block;
    margin-left: .25rem;
}
footer{
    color: var(--clr-black);
}
/* ---- Media Queries ---- */
@media screen and (min-width: 900px){
    .container{
        background-image: url(/images/bg-desktop.png);
        background-size: contain;
        background-position: center 125%;
        background-color: var(--clr-verydarkblue);
    }
    .data-storage{
        max-width: 1200px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .data-storage > *:not(:last-child){
        margin-bottom: initial;
    }
    .actions-container,
    .storage-container{
        width: 100%;
    }
    .actions-container{
        margin-right: 2rem;
        max-width: 350px;
        width: 100%;
    }
    .storage-container{
        max-width: 550px;
    }
    .storage__description{
        text-align: left;
    }
    .storage__leftspace{
        top: -25%;
        left: initial;
        right: 5%;
        border-bottom-right-radius: 0;
    }
    .storage__leftspace::after{
        content: '';
        width: 20px;
        height: 20px;
        background-color: var(--clr-black);
        background-image: linear-gradient(45deg, var(--clr-darkblue) 50%, white 50%);
        position: absolute;
        bottom: -20px;
        right: 0;
    }
}